# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# PyCharm
/.idea
/*.iml
# VS Code
/.vscode
# Jupyter
/.ipynb_checkpoints
main/dataset/cifar-10-python.tar.gz
main/dataset/cifar-10-python.tar.gz
main/dataset/cifar-10-batches-py
*.pyc
__pycache__/
.env
task_1/dataset/cifar-10-batches-py/batches.meta
task_1/dataset/cifar-10-batches-py/data_batch_1
task_1/dataset/cifar-10-batches-py/data_batch_2
task_1/dataset/cifar-10-batches-py/data_batch_3
task_1/dataset/cifar-10-batches-py/data_batch_4
task_1/dataset/cifar-10-batches-py/data_batch_5
task_1/dataset/cifar-10-batches-py/readme.html
task_1/dataset/cifar-10-batches-py/test_batch
